<nav class="navbar navbar-default" role="navigation">

	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="logo"><img src="{{ site.baseurl }}/img/brand/uhd-logo.png"></div>
			<a class="navbar-brand" href="/">iOS Dev Kurs der Universität Heidelberg</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Informationen</a></li>
				<li><a href="/material">Kursmaterialien</a></li>
				<li><a href="/uni-hd-app">Uni HD Apps</a></li>
			</ul>
		</div>
	
	</div>

</nav>
